{% extends 'base.html' %}
{% block content %}
    <h1>Список графических карт</h1>
    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
       {% for graphic_card in graphic_cards %}
            <div style="border: 1px solid #ddd; padding: 15px; border-radius: 8px; width: 300px;">
                <h2>
                    <a href="{% url 'graphic_card_detail' graphic_card.id %}" style="text-decoration: none; color: #007bff;">{{ graphic_card.title }}</a>
                </h2>
                <p>{{ graphic_card.description }}</p>

                <h3>Предложения:</h3>
                    {% if graphic_card.graphic_card_offers.all %}
                        <ul>
                            {% for offer in graphic_card.graphic_card_offers.all %}
                                <li>Цена: {{ offer.price }} руб. | Магазин: {{ offer.store.name }}</li>
                                {% if user == offer.store.owner %}
                                    <a href="{% url 'edit_offer' offer.id %}">Редактировать</a>
                                    <a href="{% url 'delete_offer' offer.id %}" style="color: red;">Удалить</a>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Нет предложений</p>
                    {% endif %}

                {% if user.is_staff %}
                    <a href="{% url 'create_offer' 'graphic_card' graphic_card.id %}" style="display: block; margin-top: 10px; padding: 5px 10px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; text-align: center;">Добавить предложение</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if user.is_staff %}
        <a href="{% url 'create_graphic_card' %}" style="display: inline-block; margin-top: 20px; padding: 10px 15px; background-color: #28a745; color: white; text-decoration: none; border-radius: 5px;">Создать новую графическую карту</a>
    {% endif %}
{% endblock %}
